@font-face {
    font-family: 'HandWriting';
    src: url('media/IndieFlower-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.card-container {
    display: flex;
    gap: 20px; /* Increased gap between cards */
    width: 85%; /* Total width for all 7 cards */
    justify-content: space-between;
}

.card {
    width: calc(100% / 7 - 20px); /* Adjusted width for each card with gap */
    height: 250px; /* 200px + 25% of 200px */
    background-color: #333; /* Dark metallic color */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px; /* Larger font size */
    cursor: pointer;
    perspective: 1000px;
    transform-style: preserve-3d;
    /*transition: transform 0.5s;*/
    transition: transform 0.5s, background-color 0.5s, color 0.5s; /* Added color transition */
}

.card .front {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden; /* Hide the back side when flipped */
}

.card .back {
    width: 100%;
    height: 100%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
    color: #fff;
    backface-visibility: hidden; /* Hide the front side when flipped */
}

.card.flipped {
    transform: rotateY(180deg);
}

.button {
    position: fixed;
    bottom: 50px; /* Adjusted distance from the top */
    right: 50px; /* Adjusted distance from the left */
    width: 81px; /* 25% bigger */
    height: 81px; /* 25% bigger */
    background-color: #3498db;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: Arial, sans-serif; /* Change the font */
    transition: transform 0.3s, box-shadow 0.3s;
}

.button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.card.cross-card .back {
    background-color: red;
    position: relative;
}

.card.cross-card .back::before {
    /*content: '&#10006;';*/
    font-size: 24px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card.cross-card.top-left .back::before {
    top: 10%;
    left: 10%;
}

.card.cross-card.top-right .back::before {
    top: 10%;
    left: 90%;
}

.card.cross-card.bottom-left .back::before {
    top: 90%;
    left: 10%;
}

.card.cross-card.bottom-right .back::before {
    top: 90%;
    left: 90%;
}

.back-images, .title {
    position: fixed;
}

.tree {
    top: 30px;
    left: 80px;
    height: 300px;
    width: 250px;

}

.piano {
    top: 50px;
    right: 50px;
    height: 250px;
    width: 250px;
}

.title {
    top: 10px;
    font-size: 110px;
    font-family: 'HandWriting', sans-serif;
}
